@model IEnumerable<FinalExamProject.Models.Image>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="warning">
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
    </tr>

@{
    int counter = 2;
    foreach (var item in Model)
    {
        string tableClass = "success";
        if (counter < 1)
        {
            counter = counter + 1;
        }
        else
        {
            counter = 0;
        }
        switch (counter)
        {
            case 0:
                tableClass = "alert-info";
                break;
            case 1:
                tableClass = "success";
                break;
        }
        <tr class="@tableClass">
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
                <br/>
                <a href="@Url.Action("Details", "Images", new {id = item.ImageId})">
                    <img src="~/Pictures/@(item.ImageId + item.ImageExtension)" class="imageSizing"/>

                </a>
            </td>
        </tr>
    }
}

</table>
