@model FinalExamProject.Models.Lamp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lamp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LampName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LampName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LampId }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Like this lamp!", "AddLike", new { id = Model.LampId })
</p>
