@model IEnumerable<FinalExamProject.Models.Lamp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="warning">
        <th>
            @Html.DisplayNameFor(model => model.LampName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LampImage)
        </th>
        <th></th>
    </tr>
    @{
        int counter = 2;
        foreach (var item in Model) {
            string tableClass = "success";
            if (counter < 1)
            {
                counter = counter + 1;
            }
            else
            {
                counter = 0;
            }
            switch (counter)
            {
                case 0:
                    tableClass = "alert-info";
                    break;
                case 1:
                    tableClass = "success";
                    break;
            }


    <tr class="@tableClass">
        <td>
            @Html.DisplayFor(modelItem => item.LampName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            <a href="@Url.Action("Details", "Images", new {id = item.ImageId})">
                <img src="~/Pictures/@(item.LampImage.ImageId + item.LampImage.ImageExtension)" class="imageSizing"/>
            </a>
        </td>
        <td>
            @Html.ActionLink("Like this lamp!", "AddLike", new { id = item.LampId }) |
            @Html.ActionLink("Details", "Details", new {id = item.LampId}) | 
            @Html.ActionLink("Edit", "Edit", new { id = item.LampId }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.LampId })
            
        </td>
    </tr>
    }
}

</table>
